################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/KidsWatchB6/.vs/KidsWatchB6/v15/Server/sqlite3/db.lock
